
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

.navbar-laravel {
  background-color: red;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
