body{
    margin:0;
    padding: 0;
    font-family: inherit;
    font-size: 14px;
    text-align:center;
}

.section{
    background-color: blueviolet;
    height: 500px;
    line-height: 500px;
}

.loader{
    width:50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.loader-quart{
    border-radius: 50px;
    border:6px solid rgba(255, 255, 255, 0.4);
    
}
.loader-quart:after{
    content:'';
    position: absolute;
    top:-6px;
    left:-6px;
    bottom: -6px;
    right: -6px;
    border:6px solid transparent;
    border-radius: 50px;
    border-top-color: #fff;
    animation: spin 1s linear 0s infinite;
    
}


.loader-double-circle{
    border-radius: 50px;
    border:6px solid rgba(255, 255, 255, 0.4);
    border:6px solid transparent;
    border-top-color: #596dff;
    border-bottom-color: #596dff;
    animation: spin 1s linear 0s infinite;
}

.loader-double-circle:after{
    content:'';
    position: absolute;
    top:5px;
    left:5px;
    bottom:5px;
    right:5px;
    border:6px solid transparent;
    border-radius: 50px;
    border-top-color: teal;
    border-bottom-color: teal;
    opacity: 0.6;
    animation: spinreverse 2s linear 0s infinite;
}

.loader-double-circle:before{
    content:'';
    position: absolute;
    top:15px;
    left:15px;
    bottom:15px;
    right:15px;
    border:3px solid transparent;
    border-radius: 50px;
    border-top-color: #fff;
    border-bottom-color: #fff;
    opacity: 0.6;
    animation: spinreverse 2s linear 0s infinite;
}

.section2{
    background-color: inherit;
}

.section3{
    background-color: rgb(65, 134, 9);
}


@keyframes spin{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}



@keyframes spinreverse{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(-360deg);
    }
}

/**
*
*/
.loader-sync-circle{
    border-radius: 50px;
    border:3px solid transparent;
    border-top-color: #fff;
    animation: spin 1s linear  infinite;
}

.loader-sync-circle:after{
    content:'';
    position: absolute;
    top:15px;
    left:15px;
    bottom:15px;
    right:15px;
    border:3px solid transparent;
    border-radius: 50px;
    border-top-color: #fff;
    opacity: 0.8;
    animation: spin 5s linear infinite;
}
.loader-sync-circle:before{
    content:'';
    position: absolute;
    top:10px;
    left:10px;
    bottom:10px;
    right:10px;
    border:3px solid transparent;
    border-radius: 50px;
    border-top-color: #fff;
    opacity: 0.8;
    animation: spin 10s linear infinite;
}

.loader-text{
    font-family: 'Trebuchet MS';
}